div.navbar
  input.searchbar(
    type="text"
    ng-change="nav.filterByText()"
    ng-model="nav.searchval"
    placeholder="SEARCH")
  button.clear-btn(
    ng-click="nav.searchval = null;nav.filterByText('')"
    ng-if="nav.searchval.length > 0")

  button.add-quote-btn
