div.navbar
  div.searchbar-container
    input.searchbar(
      type="text"
      ng-change="nav.filterByText()"
      ng-model="nav.searchval"
      ng-disabled="nav.addingQuote"
      placeholder="{{nav.searchPlaceholder}}")
  div.btn-container
    button.nav-btn(
      ng-click="nav.clearSearch()")
      .lookup-icon
    button.nav-btn(
      ng-class="{clicked:nav.addingQuote == true}"
      ng-click="nav.toggleNewQuote()")
      .plus-icon
      
      
  div.selected-tags
    .selected-tag(ng-repeat="tag in nav.selectedTags track by $index"
      ng-class="nav.getClass(tag)") 
      span.content {{tag}}
      .delete-btn(ng-click="nav.updateWithTag(tag)")
