extends layout

block content
  div.login-page(ng-controller="LoginCtrl as ctrl")
    h1 Log in
    form
      p
        label(for='email') Email:
        input.form-control(
          type='text'
          name='email'
          ng-model='ctrl.user.email'
          required='required')
      p
        label(for='password') Password:
        input.form-control(
          type='password'
          name='password'
          ng-model='ctrl.user.password'
          required='required')

      button(ng-click="ctrl.login()") Submit
    button(ng-click="ctrl.goToSignupPage()") Sign up
